config SHIELD_KOMETA_DONGLE
    def_bool $(shields_list_contains,kometa_dongle)

config SHIELD_KOMETA_LEFT
    def_bool $(shields_list_contains,kometa_left)

config SHIELD_KOMETA_RIGHT
    def_bool $(shields_list_contains,kometa_right)
